{erl_opts, [debug_info]}.

{deps, [ranch, gproc, erlware_commons]}.

{relx, [{release, {vonnegut, "0.0.1"},
         [vonnegut]},

        {dev_mode, true},
        {include_erts, false},

        {sys_config, "config/sys.config"},
        {vm_args, "config/vm.args"},

        {extended_start_script, true}]}.
