%% -*- erlang -*-
{erl_opts,
 [debug_info,
  warn_untyped_records,
  warnings_as_errors,
  nowarn_export_all,
  {parse_transform, lager_transform}]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{coveralls_coverdata    , "_build/test/cover/ct.coverdata"}.
{coveralls_service_name , "circle-ci"}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,
              deprecated_functions]}.
%% ignore these warnings because lz4 and snappyer are optional dependencies
{xref_ignores, [{lz4, unpack, 1},
                {snappyer, decompress, 1}]}.

{deps, [erlware_commons,
        acceptor_pool,
        shackle,
        partisan,
        lager,

        %% metrics and health check deps
        elli,
        prometheus,
        elli_prometheus]}.

{relx, [{release, {vonnegut, "0.5.0"},
         [vonnegut]},

        {dev_mode, true},
        {include_erts, false},

        {sys_config, "config/sys.config"},
        {vm_args, "config/vm.args"},

        {extended_start_script, true}]}.

{plugins, [rebar3_proper,
           rebar_alias,
           coveralls]}.

{profiles,
 [{test, [
          {deps, [brod, meck, {proper, "1.2.0"}]}
         ]},
 {prod, [{relx, [{sys_config, "config/prod_sys.config"},
                 {vm_args, "config/prod_vm.args"},
                 {dev_mode, false},
                 {include_erts, true},
                 {include_src, false},
                 {debug_info, strip}
                ]}]}
 ]}.

{ct_opts, [{ct_hooks, [cth_surefire]}]}.
