{erl_opts, [debug_info]}.

{deps, [ranch, gproc, erlware_commons]}.

{profiles, [
           {test,
            [{ct_opts, [{ct_hooks, [cth_readable_failonly, cth_readable_shell]}]},
             {deps, [
                    {cth_readable,
                     {git, "https://github.com/ferd/cth_readable.git", {branch, "master"}}}
                    ]}]}
           ]}.

{relx, [{release, {vonnegut, "0.0.1"},
         [vonnegut]},

        {dev_mode, true},
        {include_erts, false},

        {sys_config, "config/sys.config"},
        {vm_args, "config/vm.args"},

        {extended_start_script, true}]}.
