[{vonnegut, [{chain, [{name, "${CHAIN_NAME}"},

                      {discovery, {srv, "${DISCOVERY_DOMAIN}"}},

                      %% with direct we do not need to set the # replicas expected
                      {replicas, "${REPLICAS}"},
                      {port, 5555}]}
             ]},

 {partisan, [{peer_port, 10200},
             {partisan_peer_service_manager,
              partisan_default_peer_service_manager}]},

 {kernel, [{start_time, true}]},

 {prometheus, [{collectors, [default]}]},

 {lager, [{colored, true},
          {lager_console_backend, [info, {lager_default_formatter,
                                          [time, color, " [",severity,"] ", "mod=", module,
                                           " fun=", function, " ", message, "\e[0m\r\n"]}]}]}
].
