[
 {prometheus, [{collectors, [default]},
               {default_metrics,
                [{gauge, [{name, active_topics},
                          {labels, []},
                          {help, "number of active topic processes"},
                          {registry, default}]},
                 {gauge, [{name, log_segments},
                          {labels, [topic]},
                          {help, "number of log segments for topics"},
                          {registry, default}]},
                 {gauge, [{name, open_connections},
                          {labels, []},
                          {help, "number of open connections through the client"},
                          {registry, default}]},
                 {gauge, [{name, replicas},
                          {labels, []},
                          {help, "number of replicas in this chain"},
                          {registry, default}]},
                 {gauge, [{name, chains},
                          {labels, []},
                          {help, "number of chains in the cluster"},
                          {registry, default}]},
                 %% this is good to know but doesn't make sense right now
                 %% {gauge, [{name, pending_write_repairs},
                 %%          {labels, []},
                 %%          {help, "number of records that have been repaired on this node"},
                 %%          {registry, default}]},

                 %% same as active_topics right now
                 %% {gauge, [{name, topics},
                 %%          {labels, [chain]},
                 %%          {help, "number of topics in a chain"},
                 %%          {registry, default}]},

                 {boolean, [{name, is_active},
                            {labels, []},
                            {help, "is this brick active in the chain"},
                            {registry, default}]},
                 {boolean, [{name, is_solo},
                            {labels, []},
                            {help, "is this chain a single node"},
                            {registry, default}]},
                 {boolean, [{name, is_head},
                            {labels, []},
                            {help, "is this brick the head of a chain"},
                            {registry, default}]},
                 {boolean, [{name, is_middle},
                            {labels, []},
                            {help, "is this brick in the middle of a chain"},
                            {registry, default}]},
                 {boolean, [{name, is_tail},
                            {labels, []},
                            {help, "is this brick the tail of a chain"},
                            {registry, default}]},

                 {counter, [{name, write_repairs},
                            {labels, []},
                            {help, "number of write repairs"},
                            {registry, default}]},
                 {counter, [{name, client_requests},
                            {labels, []},
                            {help, "requests count"},
                            {registry, default}]}]}]}
].
