%% -*- erlang -*-
[{vonnegut, [{cluster, {direct, [{'node-0', "127.0.0.1", 5555},
                                  {'node-1', "127.0.0.1", 5556}]}},

             {client, [{endpoint, [{"127.0.0.1", 5555}]}]},

             {port, 5555}]},

 {partisan, [{peer_port, 10200}]},

 {kernel, [{start_time, true}]},

 {lager, [{colored, true},
          {lager_console_backend, [info, {lager_default_formatter,
                                          [time, color, " [",severity,"] ", "mod=", module,
                                           " fun=", function, " ", message, "\e[0m\r\n"]}]}]}
].
