[
{vonnegut, []},

{kernel, [{start_time, true}]},

{lager, [{colored, true},
         {lager_console_backend, [info, {lager_default_formatter,
                                         [time, color, " [",severity,"] ", "mod=", module,
                                         " fun=", function, " ", message, "\e[0m\r\n"]}]}]}
].
