%% -*- erlang -*-
[{vonnegut, [{chain, [{name, chain1},
                                     %% {nodename, host, data-port, partisan-port}
                      {discovery, local}, %% {direct, [{'chain1-0', "127.0.0.1", 10200, 5555},
                                         %%    {'chain1-1', "127.0.0.1", 10201, 5556},
                                         %%    {'chain1-2', "127.0.0.1", 10202, 5557}]}},

                      %% with direct we do not need to set the # replicas expected
                      %% {replicas, "2"}

                      {port, 5555}]},

             %% client config for if we want to use only the vonnegut client
             {client, [{endpoints, [{"127.0.0.1", 5555}]}]}
            ]},

 {partisan, [{peer_ip, {127,0,0,1}},
             {peer_port, 10200},
             {partisan_peer_service_manager,
              partisan_default_peer_service_manager}]},

 {kernel, [{start_time, true}]},

 {opencensus, [{reporter, {oc_reporter_noop, #{project => <<"nucleus-sti">>,
                                               service_account => <<"default">>}}}]},

 {lager, [{error_logger_redirect, true},
          %% {suppress_application_start_stop, true},
          %% {suppress_supervisor_start_stop, true},
          {handlers,
           [{lager_console_backend,
             [{level, info},
              {formatter, lager_default_formatter},
              {formatter_config,
               [time, " [",severity,"] ",
                pid, " ",
                {module, ["mod=", module, {function, [" fun=", function], ""}, " "], ""}, message, "\n"]}]}]}]},

 "config/shared"
].
