%% -*- erlang -*-
[{lager, [{handlers,
           [{lager_console_backend,
             [{level, debug},
              {formatter, lager_default_formatter},
              {formatter_config,
               [time, color, " [",severity,"] ",
                pid, " ",
                "mod=", module,
                " fun=", function, " ", message, "\e[0m\r\n"]}]}]},
          {lager_truncation_size, 20000}
         ]},

 "config/shared"
].
